.logo-etherwave {
  fill: #2b3946;
}
.logo-1 {
  fill: #b4b4b4;
}
.logo-2 {
  fill: #353638;
}
.logo-3 {
  fill: #6b6b6b;
}
.logo-4 {
  fill: #2b3946;
}
.logo-5 {
  fill: #5e606e;
}
.logo-6 {
  fill: none;
}

.garamond {
  font-family: adobe-garamond-pro, serif;
}

.athens {
  color: #fafafb;
}
.bg-athens {
  background-color: #fafafb;
}
.oxford {
  color: #2b3946;
}
.bg-oxford {
  background-color: #2b3946;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.pulse {
  animation: pulse 1s linear infinite;
}
